/* this css is used on musikbloggen */
/*
#CDCEC9 (n�stan vitt) bakgrund
#000000 (svart)
#57828B (ljusbl�tt) wrapper
#384B51 (m�rkbl�tt) on mouse over
*/

body {
	/*background-color: #fff; */
	background-color: #4b5138;

	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
/*
.even {
	background-color:#E5DBCF; 
	height: 20px;
}

.uneven {
	background-color:#CC9752; 
	height: 20px;
}
*/
	
#wrapper {
	width: 1023px;
	margin: 40px auto;
	background: #fff url(../images/wrapper.png) repeat-y;
	box-shadow: 0px 2px 5px #000;
	border: 1px solid #fff;
	/*-moz-border-radius: 3px;/*Firefox*/
	/*-webkit-border-radius: 6px;/*Safari, Chrome*/
	/*border-radius: 2px;*/
}
#header {
	/*background: #57828B url(../images/header_bg2.png) repeat-x;*/
	background: #57828B;
	border-bottom: 0px solid #fff; 
	/*height: 200px;*/
	line-height: 100px; /* radavst�nd, texten hamnar i r�tt h�jd */ 
	text-align: center; /* f�r att centrera rubriken */
	overflow: auto; /* (omsluta) f�r att allt ska f� plats */
}
#header h1 {
	margin: 0;
	padding: 0;
	/*padding-top:10px;*/
	/*padding-left: 230px; */
	/*line-height: 60px;  */
	/* padding-bottom:20px; */
	/*text-shadow: 0 1px 1px #fff; */
	color: #fff;
	color: #384B51;
	font-size: 40px;
	font-weight: bolder;
}
#header{
	width: 960px;
	margin-bottom: 0px;
	line-height: 60px; /* radavst�nd, texten hamnar i r�tt h�jd */ 
	text-align: center; /* f�r att centrera rubriken */
	overflow: auto; /* (omsluta) f�r att allt ska f� plats */
	background: #fff; /*bakgrundsf�rgen i menyn */

}
#header h1{
		font-size: 40px;
		/* margin: 0; */
		/* padding: 0; */
		/* text-shadow: 0 1px 1px #fff; */
		color: #000;
}

#header.box{
	background-color: fuchsia;
	border: 1px dotted;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	float: left;
	border-bottom: 1px dotted #384B51;
}

li.box{
	line-height: 40px;
	width: 218px;
	display: block;
	background: #57828B;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	border: 0px;
	font-size: 16px;
}

li a {
	line-height: 40px;
	width: 230px;
	display: block;
	background: #57828B;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	/*text-transform: uppercase;*/
	color: #000;
}
li a:hover {
	background: #CDCEC9;
}
#content {
	background-color: #fff;
	margin-left: 250px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}
#sidebar {
	width: 230px;
	float: left;
	margin-top: 0px;
}
/*
#sidebar img {
	border: 5px solid #fff;
	background: #fff;
	box-shadow: 0 4px 4px #333;
	margin: 20px 40px;
}
*/
#footer {
	background: #57828B;
	border-top: 0px solid #fff;
	line-height: 40px;
	text-align: center;
	font-size: small;
	clear: left;
	a:link: 
}
#footer a { 
	text-decoration: none; 
	color: #000;
	}

#footer a:hover { 
	text-decoration: underline;
	color: #fff; 
	}

.right-img {
	border: 10px solid #fff;
	border-radius: 10px;
	box-shadow: 0 2px 8px #333;
	float: right;
	margin: 0 20px 20px;
}
.box { 
	border: 1px dotted #000000;
	padding: 5px;
	margin: 0px;
	background-color: #fff;
	background: #CC9752;
	background: #d0a772;
	background: #57828B;	
	background: #CDCEC9;
}

label {
	width: 300px; 
	display: block;  
	float: left;
}

.skicka_knapp {
	background-color: #CC9752;
	color: #000;
	border: 1px dotted #000;
}